html {
  scroll-behavior: smooth;
}
#navbar {
  box-shadow: 3px 0 6px #659be7;
}

@keyframes scaleUpDown {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}

.animate-scale-up-down {
  animation: scaleUpDown 2s ease-in-out infinite;
}
